*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box; 
}

:root{
    --body-color: #e4e9f7;
    --sidebar-color: #fff;
    --primary-color: #695CFE;
    --primary-color-light: #f6f5ff;
    --toggle-color: #ddd;
 --text-color: #707070;
}
body{
    background-color: #edeef1;

}
/* header work */


.container .top{
    background-color: var(--sidebar-color);
   width: 1488px;
height: 60px;
} 


.container .top .text {
   color: var(--primary-color);
   display: flex;
   align-items: center;
   text-align: center;
   justify-content: center;
   gap: 50px;
   position: relative;
   top: 9px;

}
.container .top .text{
    display: flex;
    gap: 40px;
}
.container .top .text h1{
    position: relative;
    right: 270px;
}
.container .top .text .icon{
    position: relative;
    bottom: 1px;
    right: 70px;
    display: flex;
    gap: 20px;
    background-color: #edeef1;
    /* background-color: var(--primary-color-light); */
    width: 600px;
    height: 43px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.container .top .text .icon i{
    position: relative;
    top: 1px;
    right: 200px;
}
.container .top .text .icon span{
    position: relative;
    right: 207px;
    letter-spacing: 1px;
    color: #333;

}
.container .top .navigation{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    position: relative;
    bottom: 33px;
    right: 100px;
}


/* ths id for messenger sidebar responsive */


.container .top  .navigation .messenger-sidebar input:checked + .sidebar-part2{
    display: block;
    width: 310px;
    height: 650px;
    border-radius: 10px;
    background-color: var(--primary-color-light);
    position: relative;
    top: 44px;
    left: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    
}

.container .top .navigation .messenger-sidebar .sidebar-part2 .messenger-toggle i{
    background-color: #edeef1;
    padding: 13px;
    border-radius: 50%;
}
.container .top .navigation .messenger-sidebar input:checked + .sidebar-part2 .messenger-toggle i{
    position: relative;
   bottom: 44px;
   left: 248px;
}

                        
                        
/* start of structuring emelent in inner the sidebar */
.container .top .navigation .messenger-sidebar .sidebar-part2 .content{
   position: relative;
   transform: translateY(-100px);
}
.container .top .navigation .messenger-sidebar input:checked + .sidebar-part2 content
   {
position: relative;
transform: translateY(100px);
   }












   
















/*  sidebar part1 work by suing html and css */

.container input{
    display: none;
}
.container .sidebar{
    display: inline;
    background-color: var(--sidebar-color);
     /* width: 70px;
     height: 720px;  */
    
    transition: 0.5s;
    /* width: 250px;
    height: 720px;
    */
    /*  */
}
.container .sidebar .toggle{
    position: relative;
    left: 22px;
   bottom: 35px;
    display: block;
    width: 20px;
    height: 3px;
    background-color: #333;
    /* transition: 0.5s; */
    cursor: pointer;
}

.container .sidebar .toggle::before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 3px;
    position: relative;
    bottom: 5px;
    background-color: #333;
}

.container .sidebar .toggle::after{
    content: '';
    display: inline-block;
    width: 20px;
    height: 3px;
    position: relative;
    bottom: 16.5px;
    background-color: #333;
}

.container input:checked + .sidebar{ 
    width: 250px;
    height: 780px;
    display: block;
    background-color: var(--sidebar-color);
    position: rel
   
} 

.container input:checked + .sidebar .toggle{
    position: relative;
    top: 14px;
}
.container input:checked  +   .sidebar .buttons a{
    text-decoration: none;
    color: #333;
    letter-spacing: 1px;
}
.container input:checked + .sidebar .buttons{
    display: flex;
    gap: 20px;
    margin-top: 15px;
    position: relative;
    left: 20px;
    top: 26px;
    /* background-color: var(--primary-color-light); */
    width: 85%;
    border-radius: 10px;
    padding: 20px 10px;
    transition: 0.5s;
    cursor: pointer;

   
}

.container input:checked + .sidebar .buttons{
    opacity: 1;
}

.container input:checked + .sidebar .buttons:hover{
    background-color: var(--primary-color);
}
.container input:checked + .sidebar .search{
    position: relative;
    
    left: 20px;
     background-color: var(--primary-color-light); 
   padding: 10px;
    width: 85%;
   
   border-radius: 10px;

} 

.container input:checked + .sidebar .search:hover{
    background-color: var(--primary-color-light);
}

.container input:checked + .sidebar .search .icon{
position: relative;
top: 11px;
left: 6px;

}
.container input:checked + .sidebar .search .text{
    position: relative;
   left: -12px;
}

    /* this time to style frontend because i style first inner for better seetimga nd giving style */

   .container .sidebar .buttons{
    opacity: 0;
   }

/* this time tp style section layout */


